@use '../variables' as *;
// stylelint-disable a11y/no-display-none, plugin/file-max-lines
// Import nav-toggle
@use 'nav-toggle';
@use 'nav-mobile';

// Mobile styles
@media screen and (max-width: $width-max-mobile - 1px) {

  // Dropdown toggle
  .menu-item-clickable {
    --menu-item-clickable-size: .75rem;
    align-items: center;
    background-color: transparent;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
    gap: .625rem;
    justify-content: space-between;
    text-align: initial;
    width: 100%;
  }

  .menu-item-clickable::after {
    align-items: center;
    content: '+';
    display: inline-flex;
    font-size: var(--menu-item-clickable-size);
    height: var(--menu-item-clickable-size);
    justify-content: center;
    line-height: 1;
    transition: transform .35s cubic-bezier(.19, 1, .22, 1);
    width: var(--menu-item-clickable-size);
  }

  .menu-item-clickable.toggled-on::after {
    content: '-';
  }

  .menu-item-clickable:hover {
    cursor: pointer;
  }

  .menu-item-clickable:focus {
    cursor: pointer;
    z-index: 100;
  }

  .sub-menu .menu-item-clickable {
    color: var(--color-sub-menu-mobile);
  }

  // Mobile navigation core functionality
  .js-nav-active {
    overflow: hidden;

    .menu-items-wrapper {
      background-color: var(--color-background-menu-items-active);
      opacity: 1;
      pointer-events: all;
      transform: translate3d(0, 0, 0);
      visibility: visible;
      width: var(--width-navigation);
    }
  }

  .site-main,
  .site-footer {
    transition: transform 180ms ease-in-out;
  }

  // Push site content and footer to the left
  .js-nav-active .site-main,
  .js-nav-active .site-footer {
    transform: translate3d(calc(var(--width-navigation) * -1), 0, 0);
  }
}
